/* Réinitialiser les marges et les espacements de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global du corps de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Style du profil */
.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile h1 {
    font-size: 2.5rem;
    color: #333333;
}

/* Style des sections du CV */
.cv-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4, h5, h6{
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}

/* Style des liens */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Espacements et alignement des paragraphes */
p {
    margin-bottom: 10px;
}

/* Ajouter une bordure sur les sections */
header, .cv-container {
    border-left: 5px solid #3498db;
    padding-left: 20px;
}

/* Responsivité */
@media screen and (max-width: 768px) {
    .profile-img {
        width: 120px;
        height: 120px;
    }

    .cv-container {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2, h3, h4, h5, h6 {
        font-size: 1.25rem;
}

}